mixin header()
    +b.HEADER.header
        +e.A.logo(href='/')
            span Erenest
            span Shelyag
        +e.NAV.nav
            +e.A.link(href='/') Главная
            +e.A.link(href='/about') Обо мне
            +e.A.link(href='/contacts') Контакты
            +e.A.link(href='/login') Войти



