extends ../template

block variables
    - var title = 'About'

block content
    +b.DIV.about.wrp
        h1.visually-hidden Обо мне
        +e.SPAN.title.title Обо мн
            span е
        +e.DIV.text-block
            +e.P.text "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam deserunt distinctio dolores earum enim excepturi illum ipsum itaque laborum molestiae officiis perspiciatis quis recusandae similique, temporibus veniam voluptates voluptatum? Assumenda, commodi consequatur dignissimos dolorem ducimus eligendi esse eum eveniet inventore molestias provident quaerat repellendus sint veniam voluptatum! Eligendi, nostrum!"
            +e.SPAN.autor (c) Джейсон Стетхем
        +e.SPAN.num-text Вот несколько цифр из моей жизни
        +e.UL.list
            +e.LI.item
                +e.SPAN.num 0
                +e.SPAN.description Лет на сцене в качестве солиста Большого Театра
            +e.LI.item
                +e.SPAN.num 0
                +e.SPAN.description
                    | Общее количество Нобелевских Премий в разных категориях.
                    br
                    | (В том числе Нобелевские Премии Мира)
            +e.LI.item
                +e.SPAN.num 584
                +e.SPAN.description Съедено Бигмаков
            +e.LI.item
                +e.SPAN.num 10
                +e.SPAN.description Пальцев на ногах



