extends ../template

block variables
    - var title = 'Home page'

block content
    +b.DIV.main.wrp
        +e.H1.title.title Main text
        +e.P.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores numquam optio voluptatem. At debitis eaque eveniet illum neque, nobis unde?
