extends ../template

block variables
    - var title = 'login'

block content
    +b.DIV.login.wrp
        h1.visually-hidden Вход на страницу администратора
        +e.SPAN.title.title В
            span ход
        +b.FORM.form(action='/login', method='post').login__form
            +e.DIV.line
                if (msgslogin)
                    +e.DIV.err= msgslogin
                +e.INPUT.input(type="text" name="login" placeholder="логин (123)")
            +e.DIV.line
                +e.INPUT.input(type="password" name="password" placeholder="пароль (123)")
            +e.DIV.line
                +e.BUTTON.button(type="submit") Залогиниться
        +e.A.link(href='/admin') ..или войти
