.login
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  &__title
    padding: 0
    color: $main-color
    font-weight: 300
    span
      color: $font-color
      font-weight: 100
